body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
}

h3 {
  color: #777;
}

h4 {
  color: #999;
}

p {
  line-height: 1.6;
  color: #333;
}

a {
  color: #0066cc;
  text-decoration: none;
  background-color: transparent;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

li.logo {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
